.font {
    font-family: Georgia, "Times New Roman", serif;
  }
  
#aprendiendoaprogramar{
    color: rgb(7, 6, 6);
    font-size: 70px;
    background-color: aqua;
    font-weight: bold;
    text-align: center;
    border: 2px solid #000;
    padding: 10px;
    text-shadow: red 10px 10px 10px;
    width: 1200px;
}

#navegation{
    box-sizing: border-box;
    border-radius: 20px;
    border: 2px solid #000;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    text-align: left;
    background-color: #f0f0f0;
    background-clip: text;
    width: max-content;
  }

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
  }

a:link{
    color: green;
}

a:visited{
    color: green;
}

a:hover{
    color: green;
}

a:active{
    color: green;
}

ul{
    list-style-image: url(../imagenes/pequeñas/menu.png);
}